<h2>Register page</h2>

<p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est magnam
      dolore architecto reprehenderit, fuga placeat sed odio tempora
      consequuntur! Architecto quisquam reprehenderit, sunt culpa ipsa animi.
      Tempore reprehenderit adipisci laudantium!
</p>
