<footer id="footer">
      <div class="content">
            <a href="/">
                  <img src="/logo.svg" alt="" />
            </a>

            <span><% let d = new Date().getFullYear(); %> <%= d %> &copy;</span>

            <ul id="footerMenue">
                  <li><a href="#">Terms & conditions</a></li>
                  <li><a href="#">Privacy policy</a></li>
                  <li><a href="#">Contact us</a></li>
            </ul>
      </div>
</footer>
