<header id="header">
      <div class="content">
            <a href="/">
                  <img src="/logo.svg" alt="" />
            </a>

            <ul id="headerMenue">
                  <li><a href="/">Home</a></li>
                  <li><a href="/auth/login">Login</a></li>
                  <li><a href="/auth/register">Regsiter</a></li>
            </ul>
      </div>
</header>
