<header id="header">
      <div class="content">
            <a href="/">
                  <img src="/logo.svg" alt="" />
            </a>

            <ul id="headerMenue">
                  <% if(authenticated){ %>

                  <li><a href="/search">search</a></li>

                  <li><a href="/users/me">my profile</a></li>

                  <li><a href="/users/me/photos">my photos</a></li>

                  <li>
                        <form action="/auth/logout" method="post">
                              <button id="logout">logout</button>
                              <input
                                    type="hidden"
                                    name="_csrf"
                                    value="<%= csrf %>"
                              />
                        </form>
                  </li>

                  <% if(profile_photo) { %>
                  <li>
                        <img
                              src="/<%= profile_photo %>"
                              width="37"
                              height="37"
                        />
                  </li>
                  <% } %> <% } else { %>

                  <li><a href="/auth/login">Login</a></li>
                  <li><a href="/auth/register">Regsiter</a></li>

                  <% } %>
            </ul>
      </div>
</header>
