<div id="searchResult" class="area">
      <ul>
            <% for(let user of users) { %>
            <li>
                  <img src="" alt="" />
            </li>
            <% } %>
      </ul>
</div>
