/*!*********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/styles.scss ***!
  \*********************************************************************************************************************************************************/
* {
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
