.btn {
      padding: $space * 0.5 $space;
      background-color: $brand-color;
      color: white;
      font-weight: bold;
      font-size: 17px;
      border-radius: $radius;
      &:hover {
            background-color: rgba($brand-color, 0.8);
      }
}

.content {
      max-width: $screen-width;
      margin: 0 auto;
}

.message {
      padding: $space * 0.5;
      border-radius: $radius;

      &.error {
            background-color: rgba(red, 0.7);
            color: white;
      }
}

#logout,
.tolink {
      background-color: transparent;
      color: rgba($brand-color, 0.9);
}

.form-input-field {
      display: block;
      outline: none;
      padding: $space-px;
      border-radius: $radius;
      border: 1px solid rgba($brand-color, 0.5);

      &:focus {
            outline: none;
            border: 1px solid $brand-color;
      }
}

.hidden {
      display: none;
}

fieldset {
      border: none;
}

.error {
      margin-bottom: $space;
}
