@import "./variables";
@import "./mixins";
@import "./base";
@import "./reset";

header#header {
      padding: $space;
      color: $white;
      // background: $brand-color;
      // background: linear-gradient(
      //       180deg,
      //       $brand-color 0%,
      //       $brand-color 21%,
      //       $white 100%
      // );

      .content {
            @include flex($align: center, $justify: space-between);

            ul#headerMenue {
                  @include flex();

                  li {
                        margin-left: $space * 0.5;
                        a,
                        form button {
                              &:hover {
                                    color: blue;
                              }
                        }
                  }
            }
      }
}

main#main {
      min-height: 80vh;

      .content {
            form.form {
                  &.login,
                  &.register {
                        padding-top: $space * 5;
                        max-width: $screen-width * 0.7;
                        margin: auto;
                  }

                  &.profile-edit {
                        .edit-area {
                              @include flex(
                                    $align: flex-start,
                                    $justify: stretch,
                                    $wrap: wrap
                              );
                              .form-part {
                                    flex: 1;

                                    .area {
                                          @include area(
                                                $color: $white,
                                                $bc: $brand-color,
                                                $padding: $space
                                          );
                                    }

                                    // max-width: $screen-width * 0.7;

                                    &:first-of-type {
                                          margin-right: $space;
                                    }

                                    &:last-of-type {
                                          margin-right: $space;
                                    }
                              }
                        }
                  }

                  .form-section {
                        margin-bottom: $space * 2;

                        &.title {
                              padding: $space;
                              background-color: $brand-color;
                              background: linear-gradient(
                                    90deg,
                                    $brand-color 0%,
                                    $brand-color 50%,
                                    white 100%
                              );
                              color: white;
                              border-radius: $radius * 3 $radius * 3 0 0;
                        }

                        &.text-input input,
                        select,
                        textarea,
                        input[type="date"] {
                              width: 100%;
                        }

                        select {
                              @extend .form-input-field;
                              margin-top: $space-px;
                              padding: $space-px * 0.85;
                        }

                        input {
                              margin-top: $space-px;
                              &[type="submit"] {
                                    @extend .btn;
                              }
                        }

                        &.languges-input {
                              .languages {
                                    padding-top: $space;
                                    @include flex(
                                          $align: space-between,
                                          $justify: flex-start,
                                          $direction: row,
                                          $wrap: wrap
                                    );

                                    .lang {
                                          margin-right: $space * 0.5;
                                          margin-left: $space * 0.5;
                                          margin-bottom: $space;
                                    }
                              }
                        }

                        &.partner_age {
                              @include area(
                                    $color: rgba($gray, 0.3),
                                    $bc: $brand-color,
                                    $padding: $space
                              );

                              label {
                                    display: block;
                              }

                              .select {
                                    margin-top: $space;
                                    @include flex(
                                          $align: center,
                                          $justify: stretch,
                                          $direction: row,
                                          $wrap: wrap
                                    );

                                    div {
                                          margin-right: $space;
                                    }
                              }
                        }

                        .options {
                              position: relative;
                              .listing {
                                    border-radius: $radius;
                                    max-height: $base-height;
                                    position: absolute;
                                    width: 100%;
                                    margin-top: $space-px;
                                    background-color: $gray;
                                    overflow-y: scroll;

                                    span.choice {
                                          cursor: pointer;
                                          display: block;
                                          padding: $space * 0.5;
                                          margin-bottom: $space-px * 0.3;
                                          &:hover {
                                                background-color: $black;
                                                color: white;
                                          }
                                    }
                              }
                        }
                  }
            }
      }
}

footer#footer {
      background-color: $brand-color;
      .content {
            @include flex($align: center, $justify: space-between);
            color: white;

            ul#footerMenue {
                  @include flex();

                  li {
                        margin-left: $space * 0.5;
                        a {
                              text-decoration: underline;
                              color: white;

                              &:hover {
                                    color: $gray;
                              }
                        }
                  }
            }
      }
}

.content {
      max-width: $screen-width;
      margin: 0 auto;
}
