@import "./variables";
@import "./mixins";
@import "./base";
@import "./reset";

header#header {
      padding: $space;
      color: $white;
      // background: $brand-color;
      // background: linear-gradient(
      //       180deg,
      //       $brand-color 0%,
      //       $brand-color 21%,
      //       $white 100%
      // );

      .content {
            @include flex($align: center, $justify: space-between);

            ul#headerMenue {
                  @include flex();

                  li {
                        margin-left: $space * 0.5;
                        a,
                        form button {
                              &:hover {
                                    color: blue;
                              }
                        }
                  }
            }
      }
}

main#main {
      min-height: 80vh;

      .content {
            form.form {
                  &.login,
                  &.register {
                        padding-top: $space * 5;
                        max-width: $screen-width * 0.7;
                        margin: auto;
                  }

                  &.profile-edit {
                        .edit-area {
                              @include flex(
                                    $align: flex-start,
                                    $justify: stretch,
                                    $wrap: wrap
                              );
                              .form-part {
                                    flex: 1;

                                    .area {
                                          @include area(
                                                $color: $white,
                                                $bc: $brand-color,
                                                $padding: $space
                                          );
                                    }

                                    // max-width: $screen-width * 0.7;

                                    &:first-of-type {
                                          margin-right: $space;
                                    }
                              }
                        }
                  }

                  .form-section {
                        margin-bottom: $space * 2;

                        &.title {
                              padding: $space;
                              background-color: $brand-color;
                              background: linear-gradient(
                                    90deg,
                                    $brand-color 0%,
                                    $brand-color 50%,
                                    white 100%
                              );
                              color: white;
                              border-radius: $radius * 3 $radius * 3 0 0;
                              border-right: 1px solid $brand-color;
                        }

                        &.text-input input,
                        select,
                        textarea,
                        input[type="date"] {
                              width: 100%;
                        }

                        select {
                              @extend .form-input-field;
                              margin-top: $space-px;
                              padding: $space-px * 0.85;
                        }

                        input {
                              margin-top: $space-px;
                              &[type="submit"] {
                                    @extend .btn;
                              }
                        }

                        &.languges-input {
                              .languages {
                                    padding-top: $space;
                                    @include flex(
                                          $align: space-between,
                                          $justify: flex-start,
                                          $direction: row,
                                          $wrap: wrap
                                    );

                                    .lang {
                                          margin-right: $space * 0.5;
                                          margin-left: $space * 0.5;
                                          margin-bottom: $space;
                                    }
                              }
                        }

                        &.partner_age {
                              @include area(
                                    $color: rgba($gray, 0.3),
                                    $bc: $brand-color,
                                    $padding: $space
                              );

                              label {
                                    display: block;
                              }

                              .select {
                                    margin-top: $space;
                                    @include flex(
                                          $align: center,
                                          $justify: stretch,
                                          $direction: row,
                                          $wrap: wrap
                                    );

                                    div {
                                          margin-right: $space;
                                    }
                              }
                        }

                        .options {
                              position: relative;
                              .listing {
                                    border-radius: $radius;
                                    max-height: $base-height;
                                    position: absolute;
                                    width: 100%;
                                    margin-top: $space-px;
                                    background-color: $gray;
                                    overflow-y: scroll;

                                    span.choice {
                                          cursor: pointer;
                                          display: block;
                                          padding: $space * 0.5;
                                          margin-bottom: $space-px * 0.3;
                                          &:hover {
                                                background-color: $black;
                                                color: white;
                                          }
                                    }
                              }
                        }
                  }
            }

            .photos-upload-section {
                  @include area($color: rgba($gray, 0.2), $bc: white);
                  form {
                        @include flex(
                              $align: center,
                              $justify: space-between,
                              $direction: row,
                              $wrap: wrap
                        );

                        #uploadBtn {
                              border: 3px dotted $gray;
                              padding: $space;

                              label {
                                    text-align: center;
                                    span {
                                          display: block;
                                          text-align: center;
                                          margin-top: $space;
                                    }
                              }
                        }
                  }
            }

            #gallery {
                  position: relative;
                  max-width: 27rem;
                  margin: auto;
                  #media-listing {
                        @include flex();
                        overflow: hidden;

                        li {
                              text-align: center;
                              span {
                                    display: inline-block;
                                    margin-bottom: $space;
                                    @include flex(
                                          $align: flex-start,
                                          $justify: space-between
                                    );
                              }
                              & > form {
                                    margin-top: $space;
                                    input {
                                          margin: auto;
                                    }
                              }
                              img {
                                    box-shadow: 1px 1px 1px rgba($gray, 0.3);
                                    border-radius: $radius;
                                    width: 27rem;
                                    height: 30rem;
                              }
                        }
                  }

                  #btns {
                        position: absolute;
                        top: 15rem;
                        left: 0;
                        right: 0;
                        padding: 0 $space * 0.7;
                        @include flex($justify: space-between);
                        .gallery-btn {
                              border: 1px solid rgba($gray, 0.1);
                              padding: $space * 0.7;
                              border-radius: 50%;
                              cursor: pointer;
                              font-weight: bold;

                              user-select: none;

                              &:hover {
                                    background-color: rgba($gray, 0.3);
                              }
                        }
                  }
            }
      }
}

footer#footer {
      background-color: $brand-color;
      .content {
            @include flex($align: center, $justify: space-between);
            color: white;

            ul#footerMenue {
                  @include flex();

                  li {
                        margin-left: $space * 0.5;
                        a {
                              text-decoration: underline;
                              color: white;

                              &:hover {
                                    color: $gray;
                              }
                        }
                  }
            }
      }
}
